@tailwind base;
@tailwind components;
@tailwind utilities;




.glow-box {
  background-color: rgba(24, 19, 19, 0.1);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

.glow-box:hover {
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.8);
}